h1 {
 text-align: center;
 color: white;
 background-color: #666699;
 font-size: 30px;
 border-radius: 10px;
}

#navigation{
	text-align: center;
}

#section {
 position: center;
 height: 200px;
 width: 300px;
 margin: auto;
 margin-top: 50px;
}

#sectionChoix {
 margin-left: 15px;
 margin-top: 50px;
}

#sectionPresentation{
	position: center;
 	text-align: center;
 	margin-top: 5px;
 	margin-left: 300px;
 	float: left;
}

#text{
	text-align: center;
	margin-top: 120px;
}

#footer{
 font-size: .80em;
 font-style: italic;
 position: absolute;
 bottom: 0;
 width: 100%; 
 text-align: center;

}

#corps{
    background: #A1CAF1;
    border: 2px solid black;
    text-align: center;
    margin-top: 30px;
    font: italic 18px Georgia, "Times New Roman", Times, serif;
}

